body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fbfdfd;
}

header {
  background-color: #322a30;
  display: flex;
  justify-content: space-between;
}

textarea {
  resize: none;
}

.header h1 {
  color: #afa5cd;
  font-weight: 800;
  font-size: 3rem;
  letter-spacing: 1.5px;
  margin-left: 30px;
}

span {
  color: #fff;
}

.search-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.search-box {
  border: 2px solid #d2cccd;
  padding: 5px;
  height: 36px;
  width: 250px;
  border-radius: 5px 0px 0px 5px;
}

.search-btn-container {
  background-color: #5e5c6b;
  height: 36px;
  width: 36px;
  margin-right: 30px;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
}

.search-btn-container:hover {
  background-color: #6e646b;
}

.fa-search {
  color: #fff;
  padding: 7px;
}

.buttons {
  height: 20px;
  width: 20px;

}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #edf2f2;
  padding: 15px;
}

.idea-form {
  display: flex;
  flex-direction: column;
  width: 50%;
}

h4 {
  color: #7c7879;
  margin: 30px 0px 5px 0px;
  font-weight: 300;
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
}

.title-box,
.body-box {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 2px solid #d2cccd;
  margin-top: 5px;
  max-width: 100%;
  min-width: 100%;
}

.body-box {
  height: 70px;
}

.title-box {
  height: 35px;
  border-radius: 5px;
  border: 2px solid #d2cccd;
  margin-top: 5px;
}

.save-button {
  color: #fff;
  font-weight: 800;
  font-size: 1.3rem;
  background-color: #5e5c6b;
  border-radius: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 35px;
  cursor: pointer;
}

.save-button:hover {
  background-color: #52505d;
}

.idea-card {
  border: 1px solid gray;
  width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #d4d2d8;
}

.idea-card-top {
  margin: 10px;
}

.idea-card h2 {
  margin-top: 5px;
  color: #5e5c6b;
  padding: 0 3px;

}

.idea-card p {
  margin: 5px;
  color: #6a686a;
}

.idea-card-bottom {
  border-top: 1px solid gray;
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
}

.idea-card-bottom div {
  display: flex;
  align-items: center;
  padding: 2px;
}

.voting-btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.delete-container {
  display: flex;
  justify-content: flex-end;
}

.delete-button {
  margin-right: 10px;
}

@media only screen and (max-width: 800px) {
  
  header {
    justify-content: center;
    flex-direction: column;
  }
  .search-nav {
    justify-content: center;
    margin: 10px 0 20px 0;
  }
  .header h1 {
    margin: 10px auto;
    font-size: 2rem;
  }

  .search-btn-container {
    margin-right: 0;
  }

  .search-box {
    width: 230px;
  }

  .idea-form {
    width: 90%;
  }
}